* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.app-content {
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg, #6b48ff, #00ddeb);
}

.btn-select {
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    background-color: #ffff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
}

.btn-select:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 20px rgba(27, 8, 8, 0.3);
}

.element {
    text-decoration: none;
}

.modal-overlay {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: grey;
    opacity: 0;
    visibility: hidden;
}

.modal-overlay.show {
    opacity: 1;
    visibility: visible;
}

 .modal {
    position: relative;
    max-width: 500px;
    background: white;
    padding: 15px 25px;
    border-radius: 15px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
}

.modal-content {
    max-height: 60vh;
    overflow-y: auto;
}